{
  "compilerOptions": {
    "target": "ES2022",
    "module": "NodeNext",
    "moduleResolution": "NodeNext",
    "strict": true,
    "esModuleInterop": true,
    "skipLibCheck": true,
    "forceConsistentCasingInFileNames": true,
    "resolveJsonModule": true,
    "types": ["node"],
    "rootDir": "..",
    "outDir": "../../node_modules/.cache/scripts"
  },
  "include": [
    "./*.ts",
    "../config/tour/<tour-name>TourSteps.ts"
  ]
}
